<?xml version="1.0"?>
<!-- created with Phobos 0.7 -->
  <robot name="human">

    <link name="calcn_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.25"/>
        <inertia ixx="0.0014" ixy="0" ixz="0" iyy="0.0038999999" iyz="0" izz="0.0041"/>
      </inertial>
      <visual name="calcn_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Calcn L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_calcn_l_visual"/>
      </visual>
      <collision name="calcn_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Calcn L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="calcn_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.25"/>
        <inertia ixx="0.0014" ixy="0" ixz="0" iyy="0.0038999999" iyz="0" izz="0.0041"/>
      </inertial>
      <visual name="calcn_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Calcn R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_calcn_r_visual"/>
      </visual>
      <collision name="calcn_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Calcn R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="femur_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="9.3014"/>
        <inertia ixx="0.1339000016" ixy="0" ixz="0" iyy="0.0351000018" iyz="0" izz="0.141200006"/>
      </inertial>
      <visual name="femur_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Femur L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_femur_l_visual"/>
      </visual>
      <collision name="femur_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Femur L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="femur_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="9.3014"/>
        <inertia ixx="0.1339000016" ixy="0" ixz="0" iyy="0.0351000018" iyz="0" izz="0.141200006"/>
      </inertial>
      <visual name="femur_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Femur R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_femur_r_visual"/>
      </visual>
      <collision name="femur_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Femur R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="hand_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.4575"/>
        <inertia ixx="0.000892" ixy="0" ixz="0" iyy="0.000547" iyz="0" izz="0.00134"/>
      </inertial>
      <visual name="hand_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Hand L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_hand_l_visual"/>
      </visual>
      <collision name="hand_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Hand L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="hand_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.4575"/>
        <inertia ixx="0.000892" ixy="0" ixz="0" iyy="0.000547" iyz="0" izz="0.00134"/>
      </inertial>
      <visual name="hand_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Hand R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_hand_r_visual"/>
      </visual>
      <collision name="hand_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Hand R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="humerus_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2.0325"/>
        <inertia ixx="0.0119460002" ixy="0" ixz="0" iyy="0.0041209999" iyz="0" izz="0.0134089999"/>
      </inertial>
      <visual name="humerus_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Humerus L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_humerus_l_visual"/>
      </visual>
      <collision name="humerus_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Humerus L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="humerus_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2.0325"/>
        <inertia ixx="0.0119460002" ixy="0" ixz="0" iyy="0.0041209999" iyz="0" izz="0.0134089999"/>
      </inertial>
      <visual name="humerus_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Humerus R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_humerus_r_visual"/>
      </visual>
      <collision name="humerus_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Humerus R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="pelvis">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="11.777"/>
        <inertia ixx="0.1027999967" ixy="0" ixz="0" iyy="0.0870999992" iyz="0" izz="0.0579000004"/>
      </inertial>
      <visual name="pelvis_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Pelvis.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_pelvis_visual"/>
      </visual>
      <collision name="pelvis_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Pelvis.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="radius_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.6075"/>
        <inertia ixx="0.002962" ixy="0" ixz="0" iyy="0.000618" iyz="0" izz="0.003213"/>
      </inertial>
      <visual name="radius_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Radius L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_radius_l_visual"/>
      </visual>
      <collision name="radius_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Radius L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="radius_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.6075"/>
        <inertia ixx="0.002962" ixy="0" ixz="0" iyy="0.000618" iyz="0" izz="0.003213"/>
      </inertial>
      <visual name="radius_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Radius R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_radius_r_visual"/>
      </visual>
      <collision name="radius_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Radius R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="talus_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="talus_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Talus L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_talus_l_visual"/>
      </visual>
      <collision name="talus_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Talus L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="talus_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="talus_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Talus R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_talus_r_visual"/>
      </visual>
      <collision name="talus_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Talus R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="tibia_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="3.7075"/>
        <inertia ixx="0.0504000001" ixy="0" ixz="0" iyy="0.0051000002" iyz="0" izz="0.0511000007"/>
      </inertial>
      <visual name="tibia_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Tibia L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_tibia_l_visual"/>
      </visual>
      <collision name="tibia_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Tibia L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="tibia_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="3.7075"/>
        <inertia ixx="0.0504000001" ixy="0" ixz="0" iyy="0.0051000002" iyz="0" izz="0.0511000007"/>
      </inertial>
      <visual name="tibia_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Tibia R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_tibia_r_visual"/>
      </visual>
      <collision name="tibia_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Tibia R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="toes_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.2166"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0002" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="toes_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Toes L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_toes_l_visual"/>
      </visual>
      <collision name="toes_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Toes L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="toes_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.2166"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0002" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="toes_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Toes R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_toes_r_visual"/>
      </visual>
      <collision name="toes_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Toes R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="torso">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="26.8266"/>
        <inertia ixx="1.4744999409" ixy="0" ixz="0" iyy="0.7555000186" iyz="0" izz="1.4313999414"/>
      </inertial>
      <visual name="torso_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Torso.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_torso_visual"/>
      </visual>
      <collision name="torso_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Torso.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="ulna_l">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.6075"/>
        <inertia ixx="0.002962" ixy="0" ixz="0" iyy="0.000618" iyz="0" izz="0.003213"/>
      </inertial>
      <visual name="ulna_l_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Ulna L.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_ulna_l_visual"/>
      </visual>
      <collision name="ulna_l_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Ulna L.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="ulna_r">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.6075"/>
        <inertia ixx="0.002962" ixy="0" ixz="0" iyy="0.000618" iyz="0" izz="0.003213"/>
      </inertial>
      <visual name="ulna_r_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Ulna R.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="mat_ulna_r_visual"/>
      </visual>
      <collision name="ulna_r_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="../meshes/obj/Ulna R.001.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="joint_calcn_l" type="revolute">
      <origin xyz="-0.0487699956 0.0079200044 -0.0419499874" rpy="0 0 0"/>
      <parent link="talus_l"/>
      <child link="calcn_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_calcn_r" type="revolute">
      <origin xyz="-0.0487699956 -0.0079200044 -0.0419499874" rpy="0 0 0"/>
      <parent link="talus_r"/>
      <child link="calcn_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_femur_l" type="revolute">
      <origin xyz="-0.0706999972 0.0834999979 -0.0661000013" rpy="0 0 0"/>
      <parent link="pelvis"/>
      <child link="femur_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_femur_r" type="revolute">
      <origin xyz="-0.0706999972 -0.0834999979 -0.0661000013" rpy="0 0 0"/>
      <parent link="pelvis"/>
      <child link="femur_r"/>
      <axis xyz="1.0 0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_hand_l" type="revolute">
      <origin xyz="-0.0087969974 0.0136099905 -0.235841006" rpy="0 0 0"/>
      <parent link="radius_l"/>
      <child link="hand_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_hand_r" type="revolute">
      <origin xyz="-0.0087969974 -0.0136099905 -0.235841006" rpy="0 0 0"/>
      <parent link="radius_r"/>
      <child link="hand_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_humerus_l" type="revolute">
      <origin xyz="0.0031550005 0.1700000018 0.3715000153" rpy="0 0 0"/>
      <parent link="torso"/>
      <child link="humerus_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_humerus_r" type="revolute">
      <origin xyz="0.0031550005 -0.1700000018 0.3715000153" rpy="0 0 0"/>
      <parent link="torso"/>
      <child link="humerus_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_radius_l" type="revolute">
      <origin xyz="-0.0067270026 0.0260830075 -0.0130070001" rpy="0 0 0"/>
      <parent link="ulna_l"/>
      <child link="radius_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_radius_r" type="revolute">
      <origin xyz="-0.0067270026 -0.0260830075 -0.0130070001" rpy="0 0 0"/>
      <parent link="ulna_r"/>
      <child link="radius_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_talus_l" type="revolute">
      <origin xyz="0 0 -0.4299999774" rpy="0 0 0"/>
      <parent link="tibia_l"/>
      <child link="talus_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_talus_r" type="revolute">
      <origin xyz="0 0 -0.4299999774" rpy="0 0 0"/>
      <parent link="tibia_r"/>
      <child link="talus_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_tibia_l" type="revolute">
      <origin xyz="-0.0044998601 0 -0.3958207071" rpy="0 0 0"/>
      <parent link="femur_l"/>
      <child link="tibia_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_tibia_r" type="revolute">
      <origin xyz="-0.0044998601 0 -0.3958207071" rpy="0 0 0"/>
      <parent link="femur_r"/>
      <child link="tibia_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_toes_l" type="revolute">
      <origin xyz="0.1788000017 0.0010799989 -0.0020000339" rpy="0 0 0"/>
      <parent link="calcn_l"/>
      <child link="toes_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_toes_r" type="revolute">
      <origin xyz="0.1788000017 -0.0010799989 -0.0020000339" rpy="0 0 0"/>
      <parent link="calcn_r"/>
      <child link="toes_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_torso" type="revolute">
      <origin xyz="-0.1006999984 0 0.0815000013" rpy="0 0 0"/>
      <parent link="pelvis"/>
      <child link="torso"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_ulna_l" type="revolute">
      <origin xyz="0.0131440014 -0.0095950067 -0.2862730026" rpy="0 0 0"/>
      <parent link="humerus_l"/>
      <child link="ulna_l"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <joint name="joint_ulna_r" type="revolute">
      <origin xyz="0.0131440014 0.0095950067 -0.2862730026" rpy="0 0 0"/>
      <parent link="humerus_r"/>
      <child link="ulna_r"/>
      <axis xyz="0 -1.0 0"/>
      <limit lower="-3.141592741" upper="3.141592741" effort="10000000000.0" velocity="628.318530718"/>
    </joint>

    <material name="mat_calcn_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_calcn_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_femur_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_femur_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_hand_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_hand_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_humerus_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_humerus_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_pelvis_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_radius_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_radius_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_talus_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_talus_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_tibia_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_tibia_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_toes_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_toes_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_torso_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_ulna_l_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="mat_ulna_r_visual">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

  </robot>
