[submodule "webots_ros2_importer/webots_ros2_importer/urdf2webots"]
	path = webots_ros2_importer/webots_ros2_importer/urdf2webots
	url = https://github.com/cyberbotics/urdf2webots.git
[submodule "webots_ros2_driver/webots"]
	path = webots_ros2_driver/webots
	url = https://github.com/cyberbotics/webots.git
	branch = 717732e9a1bf21b559b8f834fa5cae94d9f116ee
	shallow = true
