<?xml version="1.0" ?>
<robot name="rosbot_webots">
    <webots>
      <plugin type="webots_ros2_control::Ros2Control" />

      <device reference="lidar_link" type="Lidar">
        <ros>
          <topicName>/scan</topicName>
        </ros>
      </device>

      <device reference="fl_range" type="DistanceSensor">
        <ros>
          <topicName>/range/fl</topicName>
        </ros>
      </device>

      <device reference="fr_range" type="DistanceSensor">
        <ros>
          <topicName>/range/fr</topicName>
        </ros>
      </device>

      <device reference="rl_range" type="DistanceSensor">
        <ros>
          <topicName>/range/rl</topicName>
        </ros>
      </device>

      <device reference="rr_range" type="DistanceSensor">
        <ros>
          <topicName>/range/rr</topicName>
        </ros>
      </device>

      <plugin type="webots_ros2_driver::Ros2IMU">
        <enabled>true</enabled>
        <topicName>/imu_broadcaster/imu</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>imu_link</frameName>
        <gyroName>imu gyro</gyroName>
        <accelerometerName>imu accelerometer</accelerometerName>
        <inertialUnitName>imu inertial_unit</inertialUnitName>
      </plugin>

    </webots>

    <ros2_control name="WebotsControl" type="system">
      <hardware>
        <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
      </hardware>
      <joint name="fl_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="fr_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rl_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rr_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
</robot>