<?xml version="1.0" ?>
<robot name="Mavic Webots">
    <webots>
        <device reference="gps" type="GPS">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial unit</inertialUnitName>
            <gyroName>gyro</gyroName>
        </plugin>

        <plugin type="webots_ros2_mavic.mavic_driver.MavicDriver" />
    </webots>
</robot>
