<?xml version="1.0" ?>
<robot name="robot_name">
    <webots>
        <device reference="LDS-01" type="Lidar">
            <tiltAngle>0.0</tiltAngle>
            <horizontalResolution>512</horizontalResolution>
            <fieldOfView>1.5708</fieldOfView>
            <verticalFieldOfView>0.2</verticalFieldOfView>

            <!-- Using the official Webots ROS 2 interface -->
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_1" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_2" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_3" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_4" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_5" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_6" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_7" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>


        <device reference="camera_8" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_9" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="camera_10" type="Camera">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="vl16" type="Lidar">
            <ros>
                <updateRate>33</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="hdl32_1" type="Lidar">
            <ros>
                <updateRate>10</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <device reference="hdl32_2" type="Lidar">
            <ros>
                <updateRate>10</updateRate>
                <alwaysOn>true</alwaysOn>
                <frameName>ds0</frameName>
            </ros>
        </device>

        <plugin package="webots_ros2_cpp" type="webots_ros2_control::Ros2Control">
        </plugin>
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="right wheel motor">
            <state_interface name="velocity"/>
        </joint>
        <joint name="left wheel motor">
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>
