<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="object">
    <xacro:arg name="object_name" default="generic" />
    <webots>
        <device reference="$(arg object_name)_position" type="GPS">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>

    <ros2_control name="$(arg object_name)_control" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
    </ros2_control>

    <link name=""/>

</robot>
