name: CI

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  industrial_ci:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: eloquent, ROS_REPO: testing}
          - {ROS_DISTRO: eloquent, ROS_REPO: main}
          - {ROS_DISTRO: foxy, ROS_REPO: testing}
          - {ROS_DISTRO: foxy, ROS_REPO: main}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
         submodules: recursive
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{matrix.env}}
